/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/vendor
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
.ddev
.cursor
tests
.phpunit.cache
README.md
